<table class="tx-t3seeblog" >
	<tr>
		<td>
			<f:translate key="tx_t3seeblog_domain_model_blog.title" />
		</td>
		<td>
			{blog.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3seeblog_domain_model_blog.author" />
		</td>
		<td>
			{blog.author}
		</td>
	</tr>
	<tr>
		<td>Meine Posts</td>
	</tr>
	<f:for each="{blog.posts}" as="post">
		<tr>
			<td>
				<f:link.action action="show" controller="Post" arguments="{post:post}">{post.title}</f:link.action>
			</td>
		</tr>
		<tr>
			<td>
				<f:format.date format="{f:translate(key:'tx_t3seeblog_domain_model_post.crdate.format')}">{post.crdate}</f:format.date>
			</td>
		</tr>
		<tr>
			<td>{post.bodytext -> f:format.html() -> f:format.crop(maxCharacters: 15, respectWordBoundaries:'true'
				respectHtml:'true')}
			</td>
		</tr>
	</f:for>
</table>
