<table class="tx-t3seeblog" >
	<tr>
		<td>
			<f:translate key="tx_t3seeblog_domain_model_post.title" />
		</td>
		<td>
			{post.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3seeblog_domain_model_post.crdate" />
		</td>
		<td>
			<f:format.date format="{f:translate(key:'tx_t3seeblog_domain_model_post.crdate.format')}">{post.crdate}</f:format.date>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3seeblog_domain_model_post.bodytext" />
		</td>
		<td>
			{post.bodytext -> f:format.html()}
		</td>
	</tr>
</table>